spring:
  application:
    name: sfaas
  profiles:
    active: local
  config:
    import: optional:classpath:.env[.properties]
  h2:
    console:
      enabled: true

mybatis:
  mapper-locations: classpath:mybatis/mappers/**/*.xml
  config-locations: classpath:mybatis/config/mybatis-config.xml

jasypt:
  encryptor:
    password: ${JASYPT_ENCRYPTOR_PASSWORD}

swagger:
  user: ENC(smBNImhh+n0k87ufJdIgdIHTOoZlpg4p)
  password: ENC(5mpiCndUeOH7y0f0OBfglH0f6LNR7xIr)

jwt:
  secret: dqmwlkdqwlknljqwnekqhruieqhoiuhouihoqtwhoinboibqwoedoijlfqwbnsdlfbbvsdvQENBfjdlsFJ~N13QWJn2QWCKQWLNLKQWKKCQAq/qwQKDQWMLKA
  token:
    access-expiration-time: 1800

---
spring:
  config:
    activate:
      on-profile: local

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${LOCAL_DB_URL}
    username: ${LOCAL_DB_USERNAME}
    password: ${LOCAL_DB_PASSWORD}
---
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.50.208:3306/sfaas
    username: test
    password: 1234
---
spring:
  config:
    activate:
      on-profile: prod
---
spring:
  config:
    activate:
      on-profile: test

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:hae5-sfaas;NON_KEYWORDS=NAME,USER,YEAR,CASE
    username: sa
    password:
