<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hae5.sfaas.line.mapper.LineOperationRateMapper">


    <select id="getQuarterLineOperationRate" resultType="com.hae5.sfaas.line.model.LineOperationRate">
        SELECT lor.*
        FROM line_operation_rate as lor
        WHERE lor.factory_id = #{factoryId} AND lor.year = #{year} AND lor.category in ('사업계획', '종합가동률', '차이', '가동시간', 'UPH');
    </select>
</mapper>