<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hae5.sfaas.alerts.mapper.AlertsMapper">

    <select id="findAll" resultType="com.hae5.sfaas.alerts.model.Alerts">
        SELECT 
            alarm_id as alarmId,
            line_id as line,
            process_id as process,
            alarm_type as alarmType,
            alarm_time as alarmTime
        FROM unexpected_faults
        ORDER BY alarm_time
        LIMIT 10
    </select>

    <select id="findById" parameterType="String" resultType="com.hae5.sfaas.alerts.model.Alerts">
        SELECT 
            alarm_id as alarmId,
            line_id as line,
            process_id as process,
            alarm_type as alarmType,
            alarm_time as alarmTime
        FROM unexpected_faults
        WHERE alarm_id = #{alarmId}
    </select>

    <select id="findAllByLineId" resultType="com.hae5.sfaas.alerts.model.Alerts">
        SELECT
            uf.alarm_id as alarmId,
            uf.line_id as line,
            uf.process_id as process,
            uf.alarm_type as alarmType,
            uf.alarm_time as alarmTime
        FROM unexpected_faults as uf
            LEFT JOIN unexpected_faults_user_input as ufui ON uf.alarm_id = ufui.alarm_id
        WHERE ufui.completion_status != '완료' AND uf.line_id = #{lineId};
    </select>

    <insert id="save" parameterType="com.hae5.sfaas.alerts.model.Alerts">
        INSERT INTO unexpected_faults (
            alarm_id,
            line_id,
            process_id,
            alarm_type,
            alarm_time
        ) VALUES (
            #{alarmId},
            #{line},
            #{process},
            #{alarmType},
            #{alarmTime}
        )
    </insert>

    <delete id="deleteAll">
        DELETE FROM unexpected_faults
    </delete>

</mapper>