<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hae5.sfaas.production.mapper.ProductProcessStatusMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="productProcessStatusId" >
        INSERT INTO product_process_status(product_id, line_id, sequence)
        VALUES (#{productId}, #{lineId}, #{sequence})

    </insert>

    <update id="updateSequence">
        UPDATE product_process_status as pps
        SET pps.sequence = pps.sequence+1
        WHERE pps.sequence != 4;
    </update>

    <select id="findByProductId" resultType="com.hae5.sfaas.production.model.ProductProcessStatus">
            SELECT pps.*
            FROM product_process_status as pps
            WHERE pps.product_id = #{productId}
            LIMIT 1;
    </select>

    <select id="findAll" resultType="com.hae5.sfaas.production.model.ProductProcessStatus">
        SELECT pps.*
        FROM product_process_status as pps;
    </select>


</mapper>