<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hae5.sfaas.alerts.mapper.AlertActionMapper">

     <!--  MYSQL  -->
<!--    <insert id="save">-->
<!--        INSERT INTO unexpected_faults_user_input (-->
<!--            alarm_id,-->
<!--            fault_detail,-->
<!--            action_start_time,-->
<!--            action_completion_time,-->
<!--            downtime,-->
<!--            completion_status-->
<!--        ) VALUES (-->
<!--            #{alarmId},-->
<!--            #{faultDetail},-->
<!--            #{actionStartTime},-->
<!--            #{actionCompletionTime},-->
<!--            #{downtime},-->
<!--            #{completionStatus}-->
<!--        )-->
<!--        ON DUPLICATE KEY UPDATE-->
<!--            fault_detail = VALUES(fault_detail),-->
<!--            action_start_time = VALUES(action_start_time),-->
<!--            action_completion_time = VALUES(action_completion_time),-->
<!--            downtime = VALUES(downtime),-->
<!--            completion_status = VALUES(completion_status)-->
<!--    </insert>-->

    <!--  H2 -->
    <insert id="save">
        MERGE INTO unexpected_faults_user_input (
            alarm_id,
            fault_detail,
            action_start_time,
            action_completion_time,
            downtime,
            completion_status
        ) KEY(alarm_id) VALUES (
            #{alarmId},
            #{faultDetail},
            #{actionStartTime},
            #{actionCompletionTime},
            #{downtime},
            #{completionStatus}
        )
    </insert>

    <insert id="saveActionDetail">
        INSERT INTO alert_action_details (
            alarm_id,
            fault_type,
            action_detail, 
            maintenance_staff, 
            action_time, 
            action_sequence
        ) VALUES (
            #{alarmId},
            #{faultType},
            #{actionDetail},
            #{maintenanceStaff}, 
            #{actionTime}, 
            #{actionSequence}
        )
    </insert>

    <select id="findByAlarmId" resultType="com.hae5.sfaas.alerts.model.AlertAction">
        SELECT *
        FROM unexpected_faults_user_input
        WHERE alarm_id = #{alarmId}
        LIMIT 1
    </select>

    <select id="findDetailsByAlarmId" resultType="com.hae5.sfaas.alerts.model.AlertActionDetail">
        SELECT * FROM alert_action_details 
        WHERE alarm_id = #{alarmId} 
        ORDER BY action_time ASC, action_sequence ASC
    </select>

    <delete id="deleteAllDetails">
        DELETE FROM alert_action_details
    </delete>

    <delete id="deleteAll">
        DELETE FROM unexpected_faults_user_input
    </delete>

    <delete id="deleteByAlarmId">
        DELETE FROM unexpected_faults WHERE alarm_id = #{alarmId}
    </delete>

    <delete id="deleteAllDetailsByAlarmId">
        DELETE FROM alert_action_details 
        WHERE alarm_id = #{alarmId}
    </delete>
</mapper>