<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    패키지 구조 전달을 위한 Mapper.xml 입니다.
    해당 Mapper.xml는 사용하지 마시고, 새로운 Mapper.xml를 생성하여 이용하시길 바랍니다.
-->

<mapper namespace="com.hae5.sfaas.basic.mapper.BasicMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="basicId">
        INSERT INTO BASIC (name)
        VALUES (#{name});
    </insert>

    <delete id="deleteAll">
        DELETE FROM BASIC;
    </delete>


    <select id="findById" resultType="com.hae5.sfaas.basic.model.Basic">
        SELECT b.*
        FROM BASIC as b
        WHERE b.basic_id = #{basicId}
        LIMIT 1;
    </select>

    <select id="findAll" resultType="com.hae5.sfaas.basic.model.Basic">
        SELECT b.*
        FROM BASIC as b;
    </select>

</mapper>