<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hae5.sfaas.preventive.mapper.PreventiveMaintenanceMapper">

    <insert id="save" parameterType="com.hae5.sfaas.preventive.model.PreventiveMaintenance" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO preventive_maintenance
        VALUES (#{maintenanceId}, #{equipmentId}, #{plannedDate}, #{executionDate}, #{result},
                #{estimatedTime}, #{status}, #{createdAt})
    </insert>

    <delete id="deleteAll">
        DELETE FROM preventive_maintenance;
    </delete>


    <select id="findById" resultType="com.hae5.sfaas.preventive.model.PreventiveMaintenance">
        SELECT p.*
        FROM preventive_maintenance as p
        WHERE p.id = #{id}
        LIMIT 1
    </select>

    <select id="findAll" resultType="com.hae5.sfaas.preventive.model.PreventiveMaintenance">
        SELECT p.*
        FROM preventive_maintenance as p;
    </select>

</mapper>