<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hae5.sfaas.spareParts.mapper.SparePartsMapper">
    <insert id="save">
        INSERT INTO item (item_code, item_name, location, stock, safety_stock, 
                         shortage_amount, price, factory_id, created_at, updated_at)
        VALUES (#{itemCode}, #{itemName}, #{location}, #{stock}, #{safetyStock},
                #{shortageAmount}, #{price}, #{factoryId}, #{createdAt}, #{updatedAt})
    </insert>

    <delete id="deleteAll">
        DELETE FROM item
    </delete>

    <select id="findAll" resultType="com.hae5.sfaas.spareParts.model.SpareParts">
        SELECT *
        FROM item
        LIMIT 30
    </select>

    <select id="findByItemCode" resultType="com.hae5.sfaas.spareParts.model.SpareParts">
        SELECT *
        FROM item
        WHERE item_code = #{itemCode}
        LIMIT 1
    </select>

    <select id="findByFactoryId" resultType="com.hae5.sfaas.spareParts.model.SpareParts">
        SELECT *
        FROM item
        WHERE factory_id = #{factoryId}
    </select>
</mapper>
